@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font family */
    --font-fraunces: "Fraunces", serif;
    --font-barlow: "Barlow", sans-serif;

    /* sizes */
    --size-xxs: 0.5rem; 
    --size-xs: 0.75rem; 
    --size-sm: 0.875rem; 
    --size-base: 1rem; 
    --size-lg: 1.125rem; 
    --size-xl: 1.25rem; 
    --size-2xl: 1.5rem; 
    --size-3xl: 1.875rem; 
    --size-4xl: 2.25rem; 
    --size-5xl: 3rem; 
    --size-6xl: 3.75rem; 
    --size-7xl: 4.5rem; 
    --size-8xl: 6rem; 
    --size-9xl: 8rem; 
    --size-10xl: 10rem; 

    /* === colors === */
    /* primary */
    --soft-red: hsl(7, 99%, 70%);
    --yelow: hsl(51, 100%, 49%);
    --graphic-designText: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --clr-footer: hsl(168, 34%, 41%);
    /* neutral */
    --dark-blue: hsl(212, 27%, 19%);
    --darkGray-blue: hsl(213, 9%, 39%);
    --gray-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

}

html {
    scroll-behavior: smooth; 
}

button {
    outline: none;
    border: none;
    background: none;
}

.menu {
    display: none;
}

i {
    font-size: var(--size-lg);
    font-weight: 600;
    color: var(--white);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

p {
    font-family: var(--font-barlow);
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-barlow);
    font-size: var(--size-lg);
}

a.btn {
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: 600;
    padding: .5em 1.2em;
    border-radius: 2em;
    transition: all .3s ease;

    &:hover {
        background-color: rgba(114, 208, 255, 255);
        color: var(--white);
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
}

.hero {
    text-align: center;
    margin-top: 3em;

    h1 {
        margin-bottom: 2em;
        letter-spacing: .3em;
        color: var(--white);
        font-family: var(--font-fraunces);
        font-weight: 900;
    }

    .mobile_header {
        display: none;
    }

    
}

.home {
    background: url(images/desktop/image-header.jpg) bottom / cover no-repeat;
    padding-bottom: 20em;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 500px);
}

.box:nth-child(2) {
    background: url(images/desktop/image-transform.jpg) center / cover no-repeat;
}

.box:nth-child(3) {
    background: url(images/desktop/image-stand-out.jpg) center / cover no-repeat;
}

.box:nth-child(1),
.box:nth-child(4) {
    /* margin-block: auto; */
    padding-inline: 10em;
    display: grid;
    place-items: center;
    /* margin-inline: auto; */

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;

        h2 {
            font-family: var(--font-fraunces);
            color: var(--dark-blue);
            font-size: 2rem;
        }

        p {
            font-size: .9rem;
            color: var(--gray-blue);
            line-height: 1.5;
        }

        h4 {
            font-family: var(--font-fraunces);
            color: var(--dark-blue);
            font-size: .9rem;
            padding-inline: .25em;
            position: relative;
        }

        h4::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--yelow);
            left: 0;
            bottom: -1px;
            border-radius: 1em;
        }
    }
}

.box:nth-child(1) {
    .container {
        
        h2 {
            max-width: 90%;
        }
    }
}

.box.berry {
    background: url(images/desktop/image-graphic-design.jpg) top / cover no-repeat;

    h2, p {
        color: var(--graphic-designText);
    }
}

.box.orange {
    background: url(images/desktop/image-photography.jpg) top / cover no-repeat;

    h2, p {
        color: var(--photography-text);
    }
}

.box.berry,
.box.orange {
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 3em 11em;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;
        /* align-items: center; */
        /* padding: 3em 10em; */
        /* text-align: center; */

        h2 {
            font-family: var(--font-fraunces);
            font-weight: 800;
        }

        p {
            line-height: 1.5;
            font-weight: 500;
        }
    }
}



.team {
    padding: 8em 5em;
}

.teamWrapper {
    h3 {
        text-align: center;
        margin-bottom: 5em; 
        font-family: var(--font-fraunces);
        color: var(--grayish-blue);
        letter-spacing: 5px;
    }
}

.members {
    display: flex;
    gap: 1em;
}

.person {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 3em;

    img {
        width: 80px;
        border-radius: 50%;
    }

    p {
        color: var(--darkGray-blue);
        font-weight: 500;
        line-height: 1.5;
    }
}

.name {
    h4 {
        font-family: var(--font-fraunces);
        margin-bottom: .5em;
    }

    span {
        color: var(--grayish-blue);
        font-family: var(--font-barlow);
        font-size: 0.9rem;
    }
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery:nth-child(1) {
    background: url(images/desktop/image-gallery-milkbottles.jpg) center / cover no-repeat;
}

.gallery:nth-child(2) {
    background: url(images/desktop/image-gallery-orange.jpg) center / cover no-repeat;
}

.gallery:nth-child(3) {
    background: url(images/desktop/image-gallery-cone.jpg) center / cover no-repeat;
}

.gallery:nth-child(4) {
    background: url(images/desktop/image-gallery-sugarcubes.jpg) center / cover no-repeat;
}


footer {
    background-color: var(--clr-footer);
    background-color: #9fdccd;
    padding: 2em;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    .footerNav {
        display: flex;
        gap: 2em;

        a {
            color: hsl(168, 34%, 41%);
            font-weight: 500;
            font-size: 0.9rem;
            transition: all .3s ease;

            &:hover {
                color: var(--white);
            }
        }
    }

    .social {
        margin-top: 2em;
        display: flex;
        gap: 1em;
    }

    .social svg path {
        transition: fill 0.3s ease; /* Smooth color transition */
    }
    
    .social svg:hover path {
        cursor: pointer;
        fill: var(--white); /* Change the fill color on hover */
    }

}


/* hamburger menu */





/* responsive */
@media screen and (max-width: 1232px) {
    .box.berry,
    .box.orange {
        
        padding: 3em 8.5em;

        .wrapper {
            gap: 1em;
        }
    }
}


@media screen and (max-width: 1200px) {
    .about {
        grid-template-rows: repeat(3, 400px);
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 8em;
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 1072px) {
    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 6em;
    }

    .box.berry,
    .box.orange {
        padding: 3em 5em;
    }
}


@media screen and (max-width: 992px) {
    .about {
        grid-template-rows: repeat(3, 350px);
    }

    .box.berry,
    .box.orange {
        padding: 1em 3em;
    }
}

@media screen and (max-width: 840px) {
    .about {
        grid-template-rows: repeat(3, 320px);
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 4em;
    }
}

@media screen and (max-width: 768px) {
    .home {
        background: url(images/mobile/image-header.jpg) bottom / cover no-repeat;
        /* padding-bottom: 20em; */
    }


    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 500px);
        grid-template-areas: 
        'one'
        'two';
    }

    .box:nth-child(1) {
        grid-area: two;
    }

    .box:nth-child(2) {
        grid-area: one;
    }

    .box:nth-child(2) {
        background: url(images/mobile/image-transform.jpg) center / cover no-repeat;
    }
    
    .box:nth-child(3) {
        background: url(images/mobile/image-stand-out.jpg) center / cover no-repeat;
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 8em;
        display: grid;
        place-items: center;
        
        .container {
            align-items: center;
            text-align: center;
        }
    }

    .members {
        flex-direction: column;
        gap: 5em;
    }
    
    .images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 300px);
    }

    .gallery:nth-child(1) {
        background: url(images/mobile/image-gallery-milkbottles.jpg) center / cover no-repeat;
    }
    
    .gallery:nth-child(2) {
        background: url(images/mobile/image-gallery-orange.jpg) center / cover no-repeat;
    }
    
    .gallery:nth-child(3) {
        background: url(images/mobile/image-gallery-cone.jpg) center / cover no-repeat;
    }
    
    .gallery:nth-child(4) {
        background: url(images/mobile/image-gallery-sugar-cubes.jpg) center / cover no-repeat;
    }
}


@media screen and (max-width: 680px) {
    .home {
        background: url(images/mobile/image-header.jpg) bottom / cover no-repeat;
        /* padding-bottom: 15em; */
    }

    ul {
        display: none;
        position: absolute;
        flex-direction: column;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        background-color: var(--white);
        /* background-color: red; */
        width: 90%;
        padding: 3em;

        li a {
            color: var(--grayish-blue);
            font-weight: 600;
        }
    }

    ul::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 99%;
        border: 25px solid;
        border-color: #0000 var(--white) var(--white) #0000;
    }

    a.btn {
        background-color: var(--yelow);
    }

    .menu {
        display: block;
        position: relative;
        
        i:hover {
            color: var(--dark-blue);
        }
    }

    .hero {
        .mobile_header {
            display: block;
            font-size: var(--size-5xl);
            margin-bottom: 1em;
        }

        h1 {
            display: none;
        }
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 4em;
    }

    .team {
        padding: 8em 4em;
    }
}

@media screen and (max-width: 480px) {
    .team {
        padding: 6em 2em;
    }
    
    .teamWrapper {
        h3 {
            font-size: var(--size-lg);
        }
    }

    .person {
        p {
            font-size: var(--size-base);
        }
    }

    .home {
        background: url(images/mobile/image-header.jpg) bottom / cover no-repeat;
        padding-bottom: 10em;
    }
    
    .hero {
        .mobile_header {
            display: block;
            font-size: var(--size-4xl);
            margin-bottom: 1em;
        }
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 2em;

        .container {
            h2 {
                font-size: var(--size-4xl);
            }
    
            p {
                font-size: var(--size-lg);
            }
    
            h4 {
                font-size: var(--size-lg);
            }
        }
    }

    .box.berry,
    .box.orange {
        /* padding: 1em 3em; */

        .wrapper {

            p {
                margin-bottom: 3em;
                font-size: var(--size-base);
            }
        }
    }

    .images {
        grid-template-rows: repeat(2, 200px);
    }


    footer {
        padding: 5em 0;
    }
}

@media screen and (max-width: 385px) {
    .team {
        padding: 6em 1em;
    }
    
    .teamWrapper {
        h3 {
            font-size: var(--size-base);
        }
    }

    .person {
        p {
            font-size: var(--size-sm);
        }
    }

    .hero {
        .mobile_header {
            display: block;
            font-size: var(--size-3xl);
        }
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        padding-inline: 1em;

        .container {
            h2 {
                font-size: var(--size-3xl);
            }
    
            p {
                font-size: var(--size-base);
            }
    
            h4 {
                font-size: var(--size-base);
            }
        }
    }

    .box.berry,
    .box.orange {
        padding: 1em;

        .wrapper {

            p {
                margin-bottom: 2em;
                font-size: var(--size-sm);
            }
        }
    }


    .images {
        grid-template-rows: repeat(2, 150px);
    }
}

@media screen and (max-width: 330px) {
    .teamWrapper {
        h3 {
            font-size: var(--size-sm);
        }
    }
}